.select-section {
  margin-bottom: 22px;
}

.select-section:last-child {
  margin-bottom: 0;
}

.select-section__header {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 16px;
}

.select-section__content {
}

.select-section__content--flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-section__selects {
  width: 250px;
}

.error {
  color: crimson;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 12px;
}
.loading {
  color: greenyellow;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 12px;
}
